<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card bg-black bg-opacity-75 text-white p-5 text-center" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create Event</h3>

            <!-- Your create event form HTML goes here -->

            <%= form_with(model: @event) do |form| %>
              <% if @event.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

                  <ul>
                    <% @event.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= form.label :start_date, style: "display: block" %>
                <%= form.datetime_field :start_date, class: "form-control form-control-lg" %>
              </div>

              <div class="field">
                <%= form.label :duration, style: "display: block" %>
                <%= form.number_field :duration, class: "form-control form-control-lg" %>
              </div>

              <div class="field">
                <%= form.label :title, style: "display: block" %>
                <%= form.text_field :title, class: "form-control form-control-lg" %>
              </div>

              <div class="field">
                <%= form.label :description, style: "display: block" %>
                <%= form.text_area :description, class: "form-control form-control-lg" %>
              </div>

              <div class="field">
                <%= form.label :price, style: "display: block" %>
                <%= form.number_field :price, class: "form-control form-control-lg" %>
              </div>

              <div class="field">
                <%= form.label :location, style: "display: block" %>
                <%= form.text_field :location, class: "form-control form-control-lg" %>
              </div>

              <div class="actions mt-4">
                <%= form.submit "Create Event", class: "btn btn-primary btn-lg", style: "background-color: #E4405F; color: #FFFFFF; border-color: #FF1493;" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
