<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card bg-black bg-opacity-50 text-white p-5 text-center" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Event Details</h1>

            <p style="color: green; font-size: 16px;"><%= notice %></p>

            <%= render @event %>

            <div class="text-center mt-4">
            <%= link_to "Edit this event", edit_event_path(@event), class: "text-white mr-3" %> |
            <%= link_to "Back to events", events_path, class: "text-white ml-3" %>
            <br>
              <br>
              <%= link_to "Destroy this event", @event, method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger", style: "color: #FF1493; text-decoration: underline;" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


